body {

background-color: RGBa(118, 203, 250, 0.5);
font-family:sarif;
font-size:35px;
text-align:center;
background-image:URL('/storage/emulated/0/WhatsApp/Media/WhatsApp Images/IMG-20200310-WA0036.jpg');
background-size:cover;
color: #d1e15d;
}

.cat-bus {

text-align: center;
padding: 10px;
margin-about: -2px;
background-color: RGBa(150, 169, 200, 0.8);

}






header {
background-color: RGBa(98, 102, 186, 0.8);

}

h2 {
background-color: RGBa(102, 100, 150, 0.8);
font-size: 15px;

}

footer {
background-color: RGBa(155, 140, 182, 0.8);
}

span {
color: black;
font-size: 18px;
}
